// app global css in SCSS form

//#e4010e

.text-brand {
  color: #e4010e !important;
}

.bg-brand {
  background-color: #e4010e !important;
}

.text-brand-light {
  color: #ffe5da !important;
}

.bg-brand-light {
  background-color: #ffe5da !important;
}
